form,
.nickName {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  font-family: 'Varela Round', regular;
}
.nickName .length-ok {
  border-color: #9ae6b4;
  border-style: dashed;
  border-width: 0px 0px 4px 0px;
}

.nickName .length-maximum-reached {
  border-color: #fc8181;
  border-style: dashed;
  border-width: 0px 0px 4px 0px;
}