.help_coin {
  display: flex;
  justify-content: center;
  max-width: 50px;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.help_coin:hover {
  transform: rotateY(360deg);
}

.test {
  width: 50px;
}
