.yt-hidden {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.nick,
.score {
  color: white;
  padding-top: 20px;
}

.game-parent {
  background-image: url('../assets/img/bg_color.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ready {
  color: teal;
  border: solid 2px teal;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.ready::-moz-focus-inner {
  border: 0;
}

.loading-btn {
  color: teal;
  border: dotted 4px white;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  animation: loading-btn 30s linear infinite;
  outline: none;
}

.loading-btn::-moz-focus-inner {
  border: 0;
}

.validate {
  color: green;
  border: solid 2px green;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  margin-left: 10px;
}

.validate::-moz-focus-inner {
  border: 0;
}

.skip-button {
  color: red;
  border: solid 2px red;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  margin-right: 10px;
  outline: none;
}

.skip-button::-moz-focus-inner {
  border: 0;
}

.input-answer {
  background: transparent;
  outline: none;
  border: solid 0 black;
  border-bottom: solid 2px black;
  max-width: calc(200px + 15vw);
  padding: 5px 0px;
  text-align: center;
  font-size: calc(1rem + 1.5vw);
  color: white;
  margin: 20px auto;
}

.default,
.loading,
.playing {
  display: flex;
  background-image: url(../assets/img/logo_blur.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  border: solid 2px white;
  position: relative;
  z-index: 1;
}

.default:hover {
  cursor: pointer;
}

.default,
.playing {
  font-size: calc(5rem + 2vw);
}

.playing {
  animation: playing linear 30s forwards;
}

.default {
  animation: pressGO 0.5s infinite alternate-reverse;
}

.loading {
  font-size: calc(2rem + 2vw);
}

@keyframes playing {
  from {
    border: solid 2px white;
    color: white;
  }

  66% {
    /* border: solid calc(30px + 2vw) black; */
    transform: scale(0.4);
    color: white;
  }

  84% {
    color: red;
  }

  85% {
    color: white;
  }
  86% {
    color: red;
  }
  87% {
    color: white;
  }
  88% {
    color: red;
  }
  89% {
    color: white;
  }
  90% {
    color: red;
  }
  91% {
    color: white;
  }
  92% {
    color: red;
  }
  93% {
    color: white;
  }
  94% {
    color: red;
  }
  95% {
    color: white;
  }
  96% {
    color: red;
  }
  97% {
    color: white;
  }

  98% {
    color: red;
    transform: rotate(0deg);
  }

  to {
    /* border: solid calc(100px + 2vw) black; */
    color: grey;
    transform: scale(1);
    transform: rotate(360deg);
    /* filter: grayscale(1); */
  }
}

@keyframes pressGO {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes loading-btn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(2160deg);
  }
}

.fake-div-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(200px + 4vw);
  height: calc(200px + 4vw);
  margin-left: auto;
  margin-right: auto;
}

.fake-div,
.fake-div-loading,
.fake-div-playing {
  position: absolute;
  background-image: url(../assets/img/disc.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.fake-div-playing {
  animation: turndisc 30s linear infinite;
}

@keyframes turndisc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}

.fake-div-loading {
  animation: shadowaround 10s linear infinite;
  box-shadow: 10px 5px 10px rgb(112, 91, 66);
}

@keyframes shadowaround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(4320deg);
  }
}

@media screen and (max-height: 500px) {
  .game-parent {
    flex-wrap: wrap;
  }

  .game-parent h1 {
    font-size: 20px;
  }
}
