.yt-hidden {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.nick,
.score {
  font-family: 'Ultra', 'Times New Roman', Times, serif;
  color: #391b0e;
  font-size: 1.4rem;
  padding-top: 20px;
}

.game-parent,
.fullvh {
  background-image: url('../assets/img/bg_color.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-parent {
  opacity: 0;
}

.fullvh {
  opacity: 1;
}

.loading-btn {
  color: teal;
  border: dotted 4px white;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  animation: loading-btn 30s linear infinite;
  outline: none;
}

.loading-btn::-moz-focus-inner {
  border: 0;
}

.validate {
  color: rgb(1, 75, 1);
  border: solid 2px rgb(1, 75, 1);
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  margin-left: 10px;
}

.validate:hover {
  cursor: pointer;
  color: green;
  border: solid 2px green;
  box-shadow: 2px 2px 10px black;
}

.validate:active {
  cursor: pointer;
  color: green;
  border: solid 2px green;
  box-shadow: none;
}

.validate::-moz-focus-inner {
  border: 0;
}

.skip-button {
  color: rgba(255, 0, 0, 0.514);
  border: solid 2px rgba(255, 0, 0, 0.514);
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  margin-right: 10px;
  outline: none;
}

.skip-button:hover {
  cursor: pointer;
  color: red;
  border: solid 2px red;
  box-shadow: 2px 2px 10px black;
}

.skip-button:active {
  cursor: pointer;
  color: red;
  border: solid 2px red;
  box-shadow: none;
}

.skip-button::-moz-focus-inner {
  border: 0;
}

.input-answer {
  background: transparent;
  outline: none;
  border: solid 0 black;
  border-bottom: solid 2px black;
  max-width: calc(200px + 15vw);
  padding: 5px 0px;
  text-align: center;
  font-size: calc(1rem + 1.5vw);
  color: white;
  text-shadow: 2px 2px 3px #000;
  margin: 20px auto;
}

.input-answer::placeholder {
  color: lightgrey;
}

.default,
.loading,
.playing,
.answered {
  display: flex;
  background-image: url(../assets/img/logo_blur.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  font-family: 'Ultra';
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  border: solid 2px white;
  position: relative;
  z-index: 1;
}

.default:hover {
  cursor: pointer;
}

.default {
  font-size: calc(1rem + 3vh);
}

.playing {
  font-size: calc(3rem + 3vh);
  animation: playing linear 30s forwards;
}

.default {
  animation: pressGO 0.5s infinite alternate-reverse;
}

.loading {
  font-size: calc(0.8rem + 3vh);
}

.answered {
  font-size: calc(1.5rem + 3vh);
}

@keyframes playing {
  from {
    border: solid 2px white;
    color: white;
  }

  66% {
    /* border: solid calc(30px + 2vw) black; */
    transform: scale(0.4);
    color: white;
  }

  84% {
    color: red;
  }

  85% {
    color: white;
  }
  86% {
    color: red;
  }
  87% {
    color: white;
  }
  88% {
    color: red;
  }
  89% {
    color: white;
  }
  90% {
    color: red;
  }
  91% {
    color: white;
  }
  92% {
    color: red;
  }
  93% {
    color: white;
  }
  94% {
    color: red;
  }
  95% {
    color: white;
  }
  96% {
    color: red;
  }
  97% {
    color: white;
  }

  98% {
    color: red;
    transform: rotate(0deg);
  }

  to {
    /* border: solid calc(100px + 2vw) black; */
    color: grey;
    transform: scale(1);
    transform: rotate(360deg);
    /* filter: grayscale(1); */
  }
}

@keyframes pressGO {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes loading-btn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(2160deg);
  }
}

.fake-div-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(150px + 10vh);
  height: calc(150px + 10vh);
  margin: 20px auto;
}

.fake-div,
.fake-div-loading,
.fake-div-playing {
  position: absolute;
  background-image: url(../assets/img/disc.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.fake-div-playing {
  animation: turndisc 30s linear infinite;
}

@keyframes turndisc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}

.fake-div-loading {
  animation: shadowaround 10s linear infinite;
  box-shadow: 10px 5px 10px rgb(112, 91, 66);
}

@keyframes shadowaround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(4320deg);
  }
}

@media screen and (max-height: 500px) {
  .game-parent,
  .fullvh {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .landscape-mode {
    margin: auto auto 20px auto;
  }
}

.img-cry {
  width: 80%;
  height: 80%;
  transform: rotate(180deg);
  border-radius: 50%;
  transition-duration: 1s;
}

.result-visible {
  box-shadow: -1px -5px 50px black;
  display: flex;
  max-width: 340px;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 2vw;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px 4px #000;
  z-index: 2000;
}

.flex-column-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 1100px) {
  .result-visible {
    background-color: rgba(0, 0, 0, 0.6);
    left: auto;
  }
}

.result-hidden {
  display: none;
  position: absolute;
  bottom: 30vh;
  right: 5vw;
}

.result-title {
  text-align: left;
}
.result-title,
.winText,
.lostText {
  margin: 4%;
  font-size: calc(0.5rem + 2vh);
}

.lostText {
  color: red;
  text-align: center;
}

.winText {
  color: green;
  text-align: center;
}

.result-datas {
  text-align: left;
  margin: 4%;
  font-size: calc(1rem + 1vh);
}

.result-datas h5 {
  margin-bottom: 5px;
}

.result-image {
  max-width: 100%;
  border-left: 6px solid #000;
  border-right: 6px solid #000;
  border-top: 6px solid #000;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  /* box-shadow: -1px -5px 50px black; */
}

.result-appear {
  animation: resultAppear 0.6s ease-in-out forwards;
}

@keyframes resultAppear {
  from {
    height: 0vh;
    opacity: 0;
  }
  to {
    height: 40vh;
    opacity: 1;
  }
}

.wrongAnswer {
  animation: wrongAnswer 1s infinite;
}

.goodAnswer {
  animation: goodAnswer 1s infinite;
}

@keyframes wrongAnswer {
  0% {
    transform: translateX(0%);
    color: red;
  }
  20% {
    transform: translateX(2%);
  }
  40% {
    transform: translateX(-2%);
  }
  60% {
    transform: translateX(2%);
  }
  80% {
     transform: translateX(-2%);
  }
  100% {
    transform: translateX(0%);
    color: white;
  }
}

@keyframes goodAnswer {
  0% {
    transform: scale(1);
    color: green;
  }
  50% {
    transform: scale(1.2);
  }
  110% {
    transform: scale(1);
    color: white;
  }
}

.end-game-none {
  display: none;
}

.end-game {
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  font-size: calc(1rem + 1vh + 3vw);
}

.end-game p {
  margin: 4%;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 3px #000;
}

.end-game button {
  color: green;
  border: solid 2px green;
  background-color: black;
  border-radius: 20px;
  padding: 15px;
  width: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

.end-game button:hover {
  cursor: pointer;
  color: rgb(19, 252, 19);
  border: solid 2px rgb(18, 252, 19);
  box-shadow: 2px 2px 10px black;
}

.end-game button:active {
  cursor: pointer;
  color: rgb(18, 252, 19);
  border: solid 2px rgb(19, 252, 19);
  box-shadow: none;
}
