.Rule {
  background-image: url('../assets/img/bg_color.png');
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding-top: 8vh;
}

.Rule-box {
  width: 70%;
  min-width: 290px;
  background: #232524;
  border-radius: 50px;
  border: solid 4px #f0efef;
  opacity: 0.8;
  font-family: 'Varela Round', regular;
  font-weight: 150;
  margin: auto;
}

.Rule-Title {
  font-size: calc(0.666rem + 1.666vw);
  color: #f0efef;
  text-align: center;
  font-family: 'Varela Round', regular;
  font-weight: 150;
}

.Rule-box li {
  margin: 10px;
  align-items: center;
  color: #f0efef;
  text-align: left;
  font-size: calc(0.666rem + 0.666vw);
  padding: 3%;
}

ul.Rule-modal-body {
  list-style-type: none;
  padding: 0px;
}
