* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url('./assets/img/bg_b&w.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
